<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">
                Sobre
            </h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus sem ac felis convallis, rhoncus efficitur odio dignissim. Fusce consectetur, dolor dignissim luctus egestas, tellus nisi ullamcorper risus, at commodo lectus sapien et orci. Praesent in pharetra arcu. Fusce lobortis volutpat sapien, lacinia bibendum risus dictum non
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="material-icons">email</i> email@email.com</li>
                <li><i class="material-icons">phone</i>(00) xxxxx-xxxx</li>
                <li>
                    <a target="_blank" href="https://icons8.com/icon/84937/whatsapp">
                        <img src="https://img.icons8.com/material/24/null/whatsapp--v1.png"/>
                        (00) xxxxx-xxxx
                    </a>
                </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>
